.head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.head-image{
    width: 25vw;
}

.head-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0;
}