.result-name{
    display: flex;
    justify-content: center;
    color: beige;
    background: blueviolet;
    margin: 10px;
    min-width: 75px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 0.3s;
}

.result-name:hover{
    background-color: darkorchid;

}

.link{
    text-decoration: none;
}